.answerButton{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}
mat-card{
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
