<div class="container">
	<button [routerLink]="['/account-page']" class="back-btn" mat-button><i class="material-icons">arrow_back</i> Voltar</button>
	<div class="header-bar">
		<div class="row">
			<mat-form-field class="search-input">
			<input #myInput type="text" matInput placeholder="Buscar" (input)="filterItem(myInput.value)">
			<i class="material-icons" matSuffix>search</i>
			</mat-form-field>
		</div>
	</div>
	<div class="users">
		<div class="row" >
		<div class="col-xl-3 col-lg-3" *ngFor="let user of filteredUsers; let i = index;">
			<mat-card>
			<mat-card-content>
				<div mat-card-avatar class="avatar"></div>
				<br>
				<mat-card-title><b>{{user.name}}</b></mat-card-title>
			</mat-card-content>
			<div class="mat-card-actions btn-group">
				<div *ngIf="user.type==2">
					<button *ngIf="user.noassociation || user.activate === 0" mat-raised-button class="btn" color="primary" (click)="sendIndication(user.id)">
					<i class="material-icons">send</i> Enviar indicação
					</button>
					<button *ngIf="user.activate === 1 && user.accept === 0" mat-raised-button class="btn" color="primary">
					<i class="material-icons">hourglass_full</i> Aguardando
					</button>
					<button *ngIf="user.activate === 1 && user.accept === 1 " mat-raised-button class="accept-btn" color="primary">
							<i class="material-icons">thumb_up</i> Aceito
					</button>
					<button *ngIf="user.activate === 1 && user.accept === 2" mat-raised-button class="refused-btn" color="primary">
							<i class="material-icons">thumb_down</i> Reprovado
					</button>
		
				</div>
				<div *ngIf="user.type==1">
					<button mat-raised-button class="btn" color="warn" (click)="remove(i)">
					<i class="material-icons">notes</i> Ver
					</button>
				</div>
			</div>
			</mat-card>
		</div>
		</div>
	</div>
	</div>
	
	
	