<section class="container" >
    <br><br>
  <div *ngFor = 'let comment of comments'>
      <mat-card classclass="comment-card">
              
          <mat-card-header>
              <p>Enviado por: {{comment['CommentUser.name']}} - {{comment['CommentUser.email']}}  <span>às {{comment.date | date:'dd-MM-yyyy HH:mm': '+0000'}}</span></p> 
          </mat-card-header>
          <mat-card-content>
              {{comment.message}}
          </mat-card-content>
       </mat-card>
  </div>
</section>

<button mat-raised-button class="comment-btn" color="primary" (click)="createNewComment()">
      <i class="material-icons">add</i> Adicionar Resposta
</button>
  