@import '~variables.scss';

.main-text{
    margin-top: 32vh;
    text-align: center;
}

.btncontent{
    margin-top: 30px;
    button{
        width: 300px;
        background-color: $second-color-ligth;
        padding-bottom: 5px;
        padding-top: 5px;
        a{
            text-decoration: none;
            color: white;
            display: inline;
            font-size: 25px;
            transition: 0.5s;
        }
        &:nth-child(1) {
            margin-left: 22.3%;
        }
        i {
            margin-right: 30px;
            position: relative;
            top: 2px;
            font-size: 20px;
        }
        :hover{
            color: $primary-color-ligth;
        } 
    } 
}