<div class="nav-bar">
  <a class="closebtn" (click)="changeNavBar(false)"matTooltip="Fechar Menu" matTooltipPosition="above">&times;</a>

  <a [routerLink]="['sign-in']" *ngIf="!isAuthenticated"><i class="material-icons">vpn_key</i>Login</a>
  <a [routerLink]="['sign-up']" *ngIf="!isAuthenticated"><i class="material-icons">input</i>Cadastro</a>
  <a (click)="signOut()" *ngIf="isAuthenticated"><i class="material-icons">input</i>Sair</a>
</div>

<div class="top-header">
  <a (click)="changeNavBar(true)" matTooltip="Abrir Menu" matTooltipPosition="right">
    <i class="material-icons" id="btnmenu">menu</i>
  </a>
  <span class="title"><a [routerLink]="['/']">TCC Help</a></span>
</div>