
<form #answerForm="ngForm">
  <div class="text-area">
      <mat-form-field>
          <textarea matInput placeholder="Insira sua resposta:" [(ngModel)]="answer.comment" name="comment" #comment="ngModel" [required]="answer.comment"></textarea>
    </mat-form-field>
  </div>  
  
    <div class="btn-area">
        <button mat-raised-button class="delete-btn" color="warn" (click)="exit()">
          <i class="material-icons">cancel</i> Cancelar
        </button>
        <button mat-raised-button class="edit-btn" color="primary" (click)="confirm(answerForm.value)">
          <i class="material-icons">check</i> Criar
        </button>
      </div>
</form>



  