<form #topicForm="ngForm">
  <mat-form-field class="fullwidth">
    <input matInput placeholder="Titulo" name="title" [(ngModel)]="topic.title" #regex="ngModel" [required]="true">
  </mat-form-field>

  <mat-form-field class="fullwidth">
    <textarea matInput placeholder="Cometário" name="comment" [(ngModel)]="topic.comment" #message="ngModel" [required]="true"></textarea>
  </mat-form-field>
  <div class="btn-area">
    <button mat-raised-button class="delete-btn" color="warn" (click)="exit()">
      <i class="material-icons">cancel</i> Cancelar
    </button>
    <button mat-raised-button class="edit-btn" color="primary" (click)="confirm(topicForm.value)">
      <i class="material-icons">check</i> Confirmar
    </button>
  </div>
</form>