<form class="sign-in-form">
  <label>
    <input type="text" name="username" placeholder="Username" ng-model="user.name" required>
    <br>
    <input type="email" name="email" placeholder="E-mail" ng-model="user.email" required>
    <br>
    <input type="password" name="password" placeholder="Password" ng-model="user.password" required>
    <br>
    <input type="password" name="confirmPassword" placeholder="Confirm password" ng-model="user.password" required>
    <br>

    <button (click)="onClickMe()">SIGN-UP</button>

  </label>
</form>

<p>
  sign-up-page works!
</p>