<div class="card-content">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>


    <mat-card-content>
        <form class="register-form">
                        
          <mat-form-field class="input">
              <input matInput placeholder="Username" [formControl]="usernameFormControl">
              <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
          </mat-form-field>

          <mat-form-field class="input">
              <input matInput placeholder="Email" [formControl]="emailFormControl">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
          </mat-form-field>

          <mat-form-field class="input">
              <input matInput type="password" placeholder="Password" [formControl]="passwordFormControl">
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                  Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                  A senha precisa ter mais de 6 caracteres 
              </mat-error>
          </mat-form-field>

          <mat-form-field class="input">
              <input matInput type="password" placeholder="Confirm your password" [formControl]="confirmPasswordFormControl">
              <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                  Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="confirmPasswordFormControl.hasError('minlength')">
                  A senha precisa ter mais de 6 caracteres 
              </mat-error>
          </mat-form-field>
                          
          <button mat-button (click)="register()">SIGN IN</button>

        </form>


      </mat-card-content>
      
  </mat-card>
</div>

