<div class="card-content">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Esqueci minha senha</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="forgot-password-form">
          <mat-form-field class="input">
            <input matInput placeholder="Email" [formControl]="emailFormControl" required>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Insira um e-mail válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Insira seu e-mail
            </mat-error>
          </mat-form-field>
          <br><a mat-button [routerLink]="['/sign-in']"><i class="material-icons"></i>Cancelar</a>
          <button mat-button (click)="forgotPassword()">Enviar</button>
          
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
  