@import '~variables.scss';

.card-content{
	position: relative;
	padding-top: 50px;
	
	.card {
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
	}

    button {
        position: absolute;
        margin-left: 10%;
        background-color: $second-color;
        right: 7%;
        color: white;

        i {
            font-size: 20px;
        }
        :hover{
            color: $second-color-ligth;
        } 
	}

	.text {
        color: $primary-color;
        text-decoration: none;
        padding-top: 10px;
        
        i {
            margin-right: 2%;
            position: relative;
            top: 2px;
            font-size: 20px;
			&:hover{
				color: $primary-color-ligth;
			}
        }
    }
}

.input {
	padding: 0.5%;
	width: 100%;
}