form{
    position: relative;
    h3{
        margin-left: 20%;
        margin-bottom: 25px;
        margin-right: 20%;
    }
}
.fullwidth{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

textarea{
    height: 100px;
}

.btn-area{
    margin-left: 35%;
}