<!-- Diplay PDF -->
<div class="row">
  <div class="pdf-container">
    <div class="page">
      <ngx-mat-numberpicker [min]="1" [max]="maxPage" [default]="page" (onChange)="changePage($event)" [starttext]="'Página'">3</ngx-mat-numberpicker>
    </div>
    <div id="pdf-container">
      <div id="pageContainer" class="pdfViewer singlePageView"></div>
    </div>
  </div>
  <div class="suggestions">
    <div *ngIf="suggestions.length != 0 || spelling.length != 0; else runSuggestions">
      <h4>Sugestões de alteração</h4>
      <h5>Filtros</h5>
      <h6>Tipos de sugestão</h6>
      <mat-form-field>
        <mat-select [(value)]="filterType" (selectionChange)="onChangeTypeFilter()">
          <mat-option value="0">Todos</mat-option>
          <mat-option value="1">Regras</mat-option>
          <mat-option value="2">Ortografia</mat-option>
        </mat-select>
      </mat-form-field>
      <h6>Estado</h6>
      <mat-form-field>
        <mat-select [(value)]="filterStatus" (selectionChange)="onChangeTypeFilter()">
          <mat-option value="0">Todos</mat-option>
          <mat-option value="1">Pendente</mat-option>
          <mat-option value="2">Aceito</mat-option>
          <mat-option value="3">Recusado</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-accordion *ngFor="let suggestion of rulesSpelling; let i = index;">
          <mat-expansion-panel [ngStyle]="{'border-color': getBorderColor(suggestion.accept)}" [expanded]="step === i" (opened)="setStep(index, suggestion)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div *ngIf="suggestion.type === 0; else showSpellingTitle">
                      Trecho: {{ suggestion.word }}
                    </div>
                    <ng-template #showSpellingTitle>
                        Palavra: {{ suggestion.word }}
                    </ng-template>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="suggestion.type === 0; else showSpellingBody">
              <div class="btn-area">
                <button mat-raised-button class="delete-btn" color="warn" (click)="chooseRule(suggestion, 2)">
                  <i class="material-icons">cancel</i> Recusar
                </button>
                <button mat-raised-button class="edit-btn" color="primary" (click)="chooseRule(suggestion, 1)">
                  <i class="material-icons">check</i> Aceitar
                </button>
              </div>
            </div>
            <ng-template #showSpellingBody>
              <p>Sugestões: {{ suggestion.suggestions }}</p>
              <div class="btn-area">
                <button mat-raised-button class="delete-btn" color="warn" (click)="chooseSpelling(suggestion, 2)">
                  <i class="material-icons">cancel</i> Recusar
                </button>
                <button mat-raised-button class="edit-btn" color="primary" (click)="chooseSpelling(suggestion, 1)">
                  <i class="material-icons">check</i> Aceitar
                </button>
              </div>
            </ng-template>
          </mat-expansion-panel>
      </mat-accordion>
      <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
        [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
      </mat-paginator>
    </div>
    <ng-template #runSuggestions>
      <h4>Análise ortográfica e de regras</h4>
      <form [formGroup]="languageFormGroup">
        <mat-card-content>
          <h6>Escolha a(s) língua(s) que deseja verificar a ortografia*:</h6>
          <section class="checkbox-section">
            <div *ngFor="let language of languages; let aux = index">
              <mat-checkbox class="checkbox-margin" (change)="onChangeLanguage($event)"
                [value]="language">{{language.name}}</mat-checkbox>
            </div>
          </section>
          <mat-error align="left" *ngIf="languageError">É necessário selecionar pelo menos uma língua.</mat-error>
        </mat-card-content>
        <button mat-raised-button class="run-btn" color="primary" (click)="runAnalisys()" *ngIf="!callSuggestions && !languageError">Analisar documento</button>
        <mat-spinner *ngIf="callSuggestions"></mat-spinner>
      </form>
    </ng-template>
    
  </div>
  <button mat-raised-button color="primary" class="btc-send" (click)="sendToProfessor()">Enviar para professor <i class="material-icons">send</i></button>
</div>
